#map { 
    height: 250px;
    border: 1px solid rgb(1,1,1);
    margin-top: 18px;
}

#order { 
    margin-top: 20px;
}

#dataTable { 
    margin-top: 20px;
    padding-top: 20px;
    border-top: 2px solid rgb(175, 168, 168);
}

#filters { 
    margin-top: 10px;
    margin-bottom: 20px;
}

